# VSCode and environment variable files
.vscode/*
!.vscode/launch.json
.env/

# Java related ignores
target/
application-local.properties
*.class
*.jar

# Open API generated code
docs/.openapi-generator/

# IntelliJ IDEA
.idea/*
!.idea/runConfigurations/
*.iml
*.iws
*.ipr
out/
